.rectangle_connexion{
width: 242px;
height: 254px;
flex-shrink: 0;
border-radius: 8px;
background: #b82e2e;
box-shadow: -5px 5px 25px 2px #D9D9D9;
margin:auto;
}


.box_email{
    padding: 5%;
    width: 33%;
    margin:auto;
}

.titre{
color: #000;
font-family: "Reem Kufi";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 2.5%;
text-align: center;
margin:auto;
}

.box_mdp{
    margin: auto;
}

.bouton_validation{
    margin: auto;
    padding: 5%;
}

.label_email, .label_mdp{
    text-align: center;
}