#------Redirection 
#-------Activation de engine
RewriteEngine On

#-------Si le dossier ou le fichier est existant, charger le fichier demandé
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#-------Sinon, rediriger vers l'index.php du controller home----//
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
