/*-Menu de navigation-*/
/*----On s'occupe des bouton dropdown des menus----*/
.logo{
    align-items: center;
}
.dropdown{
    width: 100%;
    height: 100%;
}
.dropdown-content{
    display: none;
    position: center;
    background-color: #f9f9f9;
    z-index: 1;
}

.dropdown-content a:hover{
    background-color: #AFEEEE;
    color: #0c0c0c;
}

.dropdown-content a {
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    text-align: center;
  }

.dropdown:hover .dropdown-content{
    display: block flex;
    flex-direction: column;
}

.menu{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
}

.menu a{
    text-decoration: none;
    overflow: hidden;
    float: center;
}

.menu > div {
    width: 70%;
    height: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
}

.boutonDropdown{
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: #00CED1;
    color: white;
    margin-top: 10px;
    margin-bottom:10px ;
}
.boutonDropdown:hover{
    background-color: #AFEEEE;
    color: #0c0c0c;
}

/*--Gestion des boutons--*/

.bouton_normal {
    padding: 5px;
    text-align: center;
    color: #fafafa;
    background-color: #0c0c0c;
    text-decoration: none;
    border-radius: 8px;
}


/*-Body-*/
body {
    background-color:#fafafa;
}

*{
    font-family: "Montserrat" ;
}
h1{
    text-align: center;
}

